/*
* REQUIRE AWESOME-BEMCSS FRAMEWORK, BECAUSE WE USE MIXIN AND EXTEND FROM THAT
* -- THAT FRAMEWORK HAS INCLUDE normalize.css --
*
*/
@import '../node_modules/awesome-bemcss/src/_awesome-bemcss.scss';


/*
-- SITE BLOCK --
*/
.site
{
    margin: 0;

    &__main
    {
        @include clearfix();

        margin-top: 60px;
    }
}


@import './blocks/_main.scss';
@import './blocks/_header.scss';
@import './blocks/_account.scss';
@import './blocks/_nav.scss';
@import './blocks/_footer.scss';
@import './blocks/_content.scss';

.card{

	&__wrapper{
		padding: 1em .5em;
	}
	&__align{
		text-align: center;
	}
	&__big-text{
		font-size: 10rem;
	}

}


